<div>
    <span class="fl-title ellipsis">{{::IC.photo.title}}</span>
    <span class="fl-user ellipsis">
        <a href="https://www.flickr.com/photos/{{::IC.photo.owner}}/{{::IC.photo.id}}" target="_blank">{{::IC.photo.ownername}}</a>
    </span>
</div>
<img data-ng-src="{{::IC.photo.url_c}}" alt="{{::IC.photo.title}}" data-ng-click="IC.showImageBox(IC.photo.id)" preload-image>
