<fl-lightbox></fl-lightbox>
<div class="fl-gallery">
    <div class="search">
        <input type="text" data-ng-model="GC.search" data-ng-keypress="GC.checkIfEnterKeyWasPressed($event)" placeholder="search...">
    </div>

    <div class="gallery">
        <div data-ng-repeat="photo in GC.gallery.photos.photo" class="fl-image">
            <fl-image data-photo="photo"></fl-image>
        </div>
    </div>
</div>
