        fl-lightbox {
            color: #DDD;
            font-family: sans-serif, Arial, serif;
            letter-spacing: 1px;
        }
        
        fl-lightbox .hidden {
            display: none;
        }
        
        fl-lightbox .content {
            position: fixed;
            top: 0;
            bottom: 0;
            width: 100%;
            background: rgba(0, 0, 0, .7);
            width: 100%;
            opacity: 1;
            -webkit-transition: opacity .5s ease-in-out;
            -moz-transition: opacity .5s ease-in-out;
            -o-transition: opacity .5s ease-in-out;
            transition: opacity .5s ease-in-out;
            overflow: hidden;
        }
        
        fl-lightbox .content img {
            margin: auto;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            max-height: 70%;
            max-width: 85%;
            border: 3px solid white;
            box-shadow: 0px 0px 8px rgba(0, 0, 0, .3);
            box-sizing: border-box;
            -webkit-transition: .5s ease-in-out;
            -moz-transition: .5s ease-in-out;
            -o-transition: .5s ease-in-out;
            transition: .5s ease-in-out;
        }
        
        fl-lightbox a.close-btn {
            position: absolute;
            top: 20px;
            right: 30px;
            font-size: 14px;
            cursor: pointer;
            color: #DDD;
        }
        
        fl-lightbox .header {
            position: absolute;
            box-sizing: border-box;
            width: 100%;
            top: 10px;
            padding: 30px;
            font-size: 14px;
            cursor: pointer;
            color: #DDD;
        }
        
        fl-lightbox .footer {
            position: absolute;
            box-sizing: border-box;
            width: 100%;
            max-height: 160px;
            overflow: scroll;
            bottom: 0px;
            padding: 30px;
            cursor: pointer;
            font-size: 14px;
            background: rgb(0, 0, 0);
            opacity: 0.8;
        }
        
        fl-lightbox a.close-btn:hover,
        fl-lightbox a.close-btn:focus {
            color: white;
        }
