<div ng-class="{ hidden : !LC.showLightBox }" class="content" ng-show="LC.data">

    <div class="header"> <strong>{{ LC.data.title._content }}</strong><br> {{ LC.data.dates.taken | date:'dd-MM-yy' }} {{LC.data.location.country._content}} </div>
    <img data-ng-src="https://farm{{ LC.data.farm }}.staticflickr.com/{{ LC.data.server }}/{{ LC.data.id }}_{{ LC.data.secret }}.jpg" alt="{{ LC.data.title._content }}" preload-image>
    <a class="close-btn" ng-click="LC.close()">close</a>
    <div class="footer">
        {{ LC.data.owner.username }}
        <span ng-if="LC.data.owner.realname">({{ LC.data.owner.realname }}) </span>        <br>
        <span data-ng-bind-html="LC.data.description._content | unsafe"></span>
    </div>
</div>
<div ng-class="{ hidden : !LC.showLightBox }" class="content" ng-show="!LC.data">
    <div class="header">
        Photo not found
    </div>
</div>
