* {
    margin: 0px;
    padding: 0px;
}

.fl-gallery {
    padding: 0 10vw;
    font-family: sans-serif, Arial, serif;
    letter-spacing: 1px;
}

.fl-gallery>.search {
    padding-left: 20%;
}

.fl-gallery>.search input {
    outline: none;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #ccc;
    box-shadow: none;
    width: 70%;
    margin-left: 15;
    margin: 40px 0;
    pointer-events: auto;
    color: #8B8989;
}

.fl-gallery>.gallery {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-auto-rows: 270px;
    grid-auto-flow: dense;
}

.fl-gallery .fl-image {
    margin-bottom: 25px;
}

.fl-gallery .fl-image img {
    width: 100%;
    height: calc(100% - 40px);
    object-fit: cover;
    cursor: pointer;
    -webkit-box-shadow: -1px 12px 6px -7px rgba(124, 126, 143, 1);
    -moz-box-shadow: -1px 12px 6px -7px rgba(124, 126, 143, 1);
    box-shadow: -1px 12px 6px -7px rgba(124, 126, 143, 1);
}

.fl-image .fl-user {
    float: right;
    height: 15px;
    width: 80%;
    line-height: 15px;
    margin-bottom: 5px;
    text-align: right;
    font-size: 10px;
}

.fl-image .fl-user a {
    text-decoration: none;
    color: #B3AEAA;
}

.fl-image .fl-title {
    float: right;
    height: 20px;
    width: 80%;
    text-align: right;
    color: #7E9EA0;
}

.fl-image img.invisible {
    visibility: hidden;
}

.ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
